<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Debug" value="false" />
    <add key="joystickName" value="FSSB R3L MJF SGRH" />
    <add key="intervalMS" value="250" />
    <add key="maxPercent" value="99.5" />
    <add key="alertHz" value="1300" />
    <add key="alertDurationMS" value="125" />
  </appSettings>
</configuration>